@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
}

.container {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
    margin: auto;
   
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 1rem;
}

.form-image img {
    width: 31rem;
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 3rem;
}

.form-header {
    
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}


.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #03326b;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3rem 0;
    border-radius: black;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    border-radius: black;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.input-box input:hover {
    background-color: #7070705d;
    border-radius: black;
}

.input-box input:focus-visible {
    outline: 1px solid #777777;
}

.input-box label,
.gender-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}


.button-group {
    display: flex;
    width: 100%;
    
 
}


.continue-button {
    background-color: #03326b;
    color: #ffffff;
    border: none;
    padding: 0.8rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-left: 15rem;
    margin-right: 1rem;
}

.continue-button:hover {
    background-color: #03326b93;
}

/* Estilo para o botão 'Voltar' */
.back-button {
    background-color: #03326b;
    color: #ffffff;
    border: none;
    padding: 0.8rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
    
}

.back-button:hover {
    background-color: #03326b93;
    color: white;
}

@media screen and (max-width: 1640px) {
    .form-image {
        display: none;
    }
    .container {
        width: 90%;
        margin: auto;
    }
    .form {
        width: 80%;
    }

}



@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    .container {
        width: 80%;
    }
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 0%;
    }
    .title{
        margin-top: -12rem;
    }
    
    .input-group {
        
        justify-content: center;
        flex-direction: column;
        z-index: 5;
        padding-right: 10rem;
        max-height: 10rem;
        flex-wrap: nowrap;
    }

    .gender-inputs {
        margin-top: 2rem;
    }
    .gender-group {
        flex-direction: column;
    }
    .gender-title h6 {
        margin: 0;
    }
    .gender-input {
        margin-top: 0.5rem;
    }
}

@media screen and (max-width: 720px) {
    .container {
        width: 100%;
    }
    .title{
        margin-top: -12rem;
    }
    
    .input-group {
        
        justify-content: center;
        flex-direction: column;
        z-index: 5;
        padding-right: 10rem;
        max-height: 10rem;
        flex-wrap: nowrap;
    }

    .gender-inputs {
        margin-top: 2rem;
    }
    .gender-group {
        flex-direction: column;
    }
    .gender-title h6 {
        margin: 0;
    }
    .gender-input {
        margin-top: 0.5rem;
    }
}
